
  <div class="container">
    <center>
      <h2>Ingresar </h2> <hr> </br> 
    </center>
  </div>
  
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", style: 'width: 70%', required: true %>
        </div>
      </div>
  
      <div class="col">
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off",style: 'width: 70%', required: true %>
        </div>
      </div>
  </div>
  
  </br>
  
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  </div>
 

<div class="container">
  <center>
    <div class="actions">
      <%= f.submit "Entrar" , class: "btn btn-success" %> <br> <br>
      <%= render "users/shared/links" %>
    </div>
  </center>
<% end %>
</div>

