<%= form_with(model: torneo, local: true) do |form| %>
  <% if torneo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(torneo.errors.count, "error") %> prohibited this torneo from being saved:</h2>

      <ul>
      <% torneo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
<div class="row">

  <div class="col">
    <div class="field">
      <%= form.label :evento %>
      <%= form.text_field :evento, id: :torneo_evento , style: 'width: 60%', required: true %>
    </div>
  </div>  

  <div class="col">
    <div class="field">
      <%= form.label :nombre %>
      <%= form.text_field :nombre, id: :torneo_nombre, style: 'width: 60%', required: true %>
    </div>
  </div>
</div>

<br>

  <div class="row">
    <div class=col>
      <div class="field">
        <%= form.label :equipos_participantes %>
        <%= form.text_field :equipos_participantes, id: :torneo_equipos_participantes, style: "width: 60%", required: true %>
      </div>
    </div>
  
    <div class="col">
      <div class="field">
        <%= form.label :localizacion %>
        <%= form.text_field :localizacion, id: :torneo_localizacion,style: "width: 60%", required: true %>
      </div>
    </div>
  </div>
  
  <br>
  
 <div class="row">
   <div class="col">
      <div class="field">
        <%= form.label :organizador %>
        <%= form.text_field :organizador, id: :torneo_organizador,style: "width: 40%", required: true %>
      </div>
    </div>
  </div> 
  
  <br>
  

  <div class="container">
    <center>
      <div class="actions">
        <%= form.submit 'Guardar', class: 'btn btn-success' %>
      </div>
    </center>
  </div>
<% end %>
</div>

<br>
