<div class="container">
    <center>
        <h1>Editar Torneo</h1> <hr> <br>
    </center>
</div>

<%= render 'form', torneo: @torneo %>

<div class="container">
 <%= link_to 'Atras', torneos_path, class:"btn btn-light" %>
</div>