<p id="notice"><%= notice %></p>

<center>
<h1>Torneos</h1>
<br> <br>

<table class="table table-striped table-bordered" style="width: 50%">
  <thead>
    <tr>
      <th>Evento</th>
      <th>Nombre</th>
      <th>Equipos participantes</th>
      <th>Localizacion</th>
      <th>Organizador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @torneos.each do |torneo| %>
      <tr>
        <td><%= torneo.evento %></td>
        <td><%= torneo.nombre %></td>
        <td><%= torneo.equipos_participantes %></td>
        <td><%= torneo.localizacion %></td>
        <td><%= torneo.organizador %></td>
        <td><%= link_to 'Mostrar', torneo, class: 'btn btn-info' %></td>
        <% if can? :update, @torneos%>
        <td><%= link_to 'Editar', edit_torneo_path(torneo), class: 'btn btn-warning' %></td>
        <% end %>
        <td><%= link_to 'Eliminar', torneo, method: :delete, data: { confirm: '¿Estas seguro' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>

<br>

<div class="container">
<%= link_to 'Nuevo Torneo', new_torneo_path, class:"btn btn-success" %>
</div>