
 <div class="container">
 <center>
     <h1>Nuevo Torneo</h1>
 </center>
 <hr> <br>
 </div>
 
<%= render 'form', torneo: @torneo %>

<div class= "container">
    <%= link_to 'Atras', torneos_path, class:"btn btn-light" %>
</div>
