
<div class="container">
   <center>
     <h1><%= @torneo.nombre%></h1> <hr> <br>
   </center> 
</div>

<div class="contaner">
  <center>
   <h3>Datos: <hr style="width: 10%"></h3>
   </center>
</div>


<div class="container">
  <div class="row">
    <div class ="col">
      <h5>Evento perteneciente:  <%= @torneo.evento %> </h5>
    </div>
 </div>  
 
   <div class="row">
      <div class="col">
          <h5>Nombre del Torneo: <%= @torneo.nombre %> </h5>
      </div>
   </div>
     
   <div class="row">
       <div class="col">
         <h5> Equipos participantes: <%= @torneo.equipos_participantes %> </h5>
      </div>
   </div>

  <div class="row">
    <div class="col">
      <h5>Localizacion del torneo: <%= @torneo.localizacion %></h5>  
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <h5>Organizador del evento: <%= @torneo.organizador %></h5>
    </div>
  </div>
</div>

 <br>

<div class="container">
  <%= link_to 'Editar', edit_torneo_path(@torneo), class: "btn btn-success" %>
  <%= link_to 'Atras', torneos_path, class: "btn btn-light" %>
</div>

