<!DOCTYPE html>
<html>
  <head>
    <title>SOFED</title>
    <%= csrf_meta_tags %>
     <meta charset="UTF-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     
    <%= yield %>
  </body>
</html>
