<!DOCTYPE html>
<html>
  <head>
    <title>SOFED</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <style>
          ul {
            list-style-type: none;
            }
            
        li{
            font-size: 20px;
        }
    
      </style>
      
     <% if user_signed_in? %>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="font-size: 25px"><b>Inder Envigado</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav">
                  <li class="btn btn-light">Empleados</li>
                  <li class="btn btn-light">Productos</li>
                  <li class="btn btn-light">Torneos</li>
                 <li class="btn btn-light">Permisos</li>
                  <li style= "position: relative; left: 140%"><%= link_to 'Editar Cuenta', edit_user_registration_path, class: 'btn btn-light' %></li>
            </ul>
          <li class="dropdown" type="none" class= "btn btn-info">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"  style= "position: relative; left: 310%"><button class="btn btn-light">Administrador</button></a>
          </li>
          <li type="none" style= "position: relative; left: 33%"><%= link_to 'Salir', destroy_user_session_path, :method=>'delete', class: 'btn btn-light' %></li>
    </nav>

    <% else %>
          <li type="none"><%= link_to 'Ingresar', new_user_session_path %></li>
          <li type="none"><%= link_to 'Crear Usuario', new_user_registration_path %></li>
    <% end %>

     
    <%= yield %>
  </body>
</html>
