<br>  
  <div class="container">
    <center>
      <h1>Editar Usuario</h1> <hr> <br>
    </center>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


<div class="container">
  
  <div class="row">
    <div class="col">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: 'width: 60%' %>
      </div>
    </div> 
    
    
    
    <div class="col">
      <div class="field">
        <%= f.label :Contraseña_actual %>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
    </div>
    
  
  </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    
    
  <br>
  
  <div class="row">
    
    <div class="col">
      <div class="field">
        <%= f.label :Contraseña %>
        <%= f.password_field :password, autocomplete: "off", style: 'width: 60%' %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    </div>

    
    
    
    
    <div class="col">
      <div class="field">
        <%= f.label :Confirmar_Contraseña %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>
    
  </div>
  
</div>


 </br>
<div class="container">
  <center>
    <div class="actions">
      <%= f.submit "Guardar Cambios", class: 'btn btn-info' %>
    </div>
  <% end %>
  </center>
</div>

<br> <hr> <br>

<div class="container">
  <center>
    <h3>¿Eliminar cuenta?</h3>
  </center>
</div>

<div class="container">
  <center>
    <p>Estas seguro de que quieres eliminar esta cuenta. <%= button_to "Eliminar cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete, class: 'btn btn-danger' %></p>
  </center>
<%= link_to "Atras", :back , class: 'btn btn-light' %>
</div>