<div class="container">
  <center>
    <h2>Registrarse</h2> <hr> </br>
  </center>  
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


<div class="container"> 
<center>
  <div class="row">
    <div class="col">
      <div class="field">
        <%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: 'width: 40%' %>
      </div>
    </div>
  </div>
  
   <br>
   
  <div class="row">
    <div class="col">
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> Minimo seis caracteres)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off",  style: 'width: 40%' %>
      </div>
    </div>
  </div>
 <br>
    <div class="row">
      <div class="col">
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off",  style: 'width: 40%' %>
        </div>
      </div>
    </div>


  </center>
 <br>
    <div class="container"> 
      <center>  
        <div class="actions">
          <%= f.submit "Registrarse", class: 'btn btn-success' %>
        </div>
    <% end %>
    
    <%= render "users/shared/links" %>
    </center>
    </div>
